<h2>
    {{ editingProductId ? 'Actualizar Producto' : 'Crear Producto' }}
</h2>

<div class="form-group">
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="nombre" placeholder="Ingrese el nombre">
</div>

<div class="form-group">
    <label>Precio:</label>
    <input type="number" [(ngModel)]="precio" placeholder="Ingrese el precio">
</div>

<button [disabled]="!nombre.trim() || !precio || precio <= 0"
    (click)="crearProducto()">
    {{ editingProductId ? 'Actualizar Producto' : 'Crear Producto' }}
</button>